.navbar {
    background-color: var(--color-blanco);
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: var(--color-texto);
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--color-siena);
}

.btn-login{
    background-color: var(--color-siena);
    color: white !important;
    padding: 8px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-login:hover{
    background-color: #8a4524;
}

.navbar-logo-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-logo-img{
    height: 50px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.navbar-logo-img:hover{
    transform: scale(1.05);
}

.nav-cart {
    color: var(--color-texto);
    display: flex;
    align-items: center;
    position: relative; 
    transition: color 0.3s ease;
}

.nav-cart:hover {
    color: var(--color-siena); 
}

/* El numerito rojo flotante */
.cart-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--color-siena);
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; 
}